[Desktop Entry]
Type=Application
Name=VICE
Comment=Commodore 64 emulator
Exec=x64
Terminal=false
Icon=CBM_Logo
StartupWMClass=
Categories=Game;Emulator;
